<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <link id="fa-stylesheet" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css">


  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <img src="{{site.url}}/images/hero-image-1.jpg" width="500px" style="display: block; margin: auto; padding-bottom: 30px;" />
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>